NEXT_PUBLIC_SANITY_PROJECT_ID=1nddltrp
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2025-09-25
SANITY_ORGANIZATION_ID=oeuyfg7dj
# Optional webhook secret for on-demand revalidation:
# SANITY_REVALIDATE_SECRET=
